# This file will be used by emerge in libchrome-XXXX.ebuild to determine
# patches that are selectively applied.
#
# Support selectively applying patch by use flag, examples:
# * To apply foo.patch to every board, add
#   `foo.patch`
# * To apply foo.patch to board bar only, add
#   `foo.patch board_use_bar`
# * To apply foo.patch to board installing package baz only, add
#   `foo.patch board_use_baz`
# Note: add flag to IUSE in libchrome ebuild if it is not already there.
#
# Patches not listed in this file will always be applied.

# Backward compatibility patch to temporarily add base::AdaptCallbackForRepeating,
# used only in mri_package.
backward-compatibility-0100-add-base-AdaptCallbackForRepeating.patch media_perception
